@media screen and (max-width:800px) and (max-height:480px) and (orientation:landscape) {

	body.cvwide #ss-metadata #ss-currentsong {
		font-size: 1.9em;
	}
	body.cvwide #ss-metadata #ss-currentartist {
		font-size: 1.7em;
	}
	body.cvwide #ss-metadata #ss-currentalbum {
		font-size: 1.4em;
		margin-bottom: 1em;
	}
	body.cvwide #ss-metadata #ss-extra-metadata {
		margin-top: 1em;
	}	

	body.cvpb #playbar-timeline {top:49%;width:25%;transform:translate(-50%, -50%);}

	#playbar-timeline {width:20%;z-index:999;position:absolute;bottom:.75em;left:41%;transform:translate(-50%);font-size:.8rem;display:flex;flex-flow:column;height:15px;display:none;}

	#playbar-time {width:100%;z-index:100;font-size:.8rem;margin-top:-14px;line-height:8px;}

	#playbar-toggles i {font-size:1.9rem;margin-top:1px;}

	#playbar-toggles .btn {padding:0;margin:0 0.45rem;height:2.1rem;width:2.7rem;border-radius:50%;}

	.mpd-volume-level {font-size:1.9rem;margin-left:0;}

	#playbar-toggles {position:absolute;display:flex;flex-wrap:wrap;right:1.7rem;top:50%;transform:translate(0, -50%);}

	#playbar-time, #playbar-total {font-size:1.7rem;}

	#playbar-countdown, #m-countdown {position:relative;float:left;left:-6rem;}

	#playbar-total, #m-total {position:relative;float:right;left:6rem;}
	
	.timeline-bg {background-color:rgb(255 255 255 / 56%);height:1px;top:50%;width:100%;position:relative;min-height:1px;margin-top:-1px;}

	
	#playbar {display:flex;align-items:center;height:3.5rem;position:absolute;bottom:0;width:100%;color:var(--adapttext);box-shadow: 0px -1px 3px rgba(0,0,0,0.1);}

}
